#kata {
    border: 0px solid white;
    width: 100%;
    height: 70px;
    line-height: 0.7;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    position: fixed;
    z-index: 3;
    color: black;
    text-align: center;
    padding-top: 10px;
}

#kata:hover {
    background-color: black;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0%;
}

a.button {
    display: inline-block;
    background: white;
    color: black;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 23px;
    line-height: 1;
    font-weight: 100;
}

a.button:hover {
    background-color: black;
    color: white;
}

#knopka {
    border: 1px solid black;
    border-radius: 9px;
    position: absolute;
    top: 2.0%;
    left: 16%;
    z-index: 4;
    text-align: center;
    position: fixed;
}

#knopka1 {
    border: 1px solid black;
    border-radius: 9px;
    position: absolute;
    top: 2.0%;
    left: 76%;
    z-index: 4;
    text-align: center;
    position: fixed;
}

header {
    font-size: 50px;
    letter-spacing: 15px;
    word-spacing: 5px;
}

h1 {
    font-size: 25px;
    line-height: 0.2;
    letter-spacing: 5px;
    font-family: monospace;
}

#xan {
    border: 0px solid white;
    width: 1350px;
    height: 400px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 0%;
}

#hj {
    position: absolute;
    top: 0%;
    left: 38%;
    color: white;
    font-family: cursive;
    font-size: 20px;
    line-height: 3;
}

mark {
    background-color: white;
    color: black;
}

#foot {
    border: 0px solid white;
    width: 100%;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 89%;
    left: 0%;
}

#er {
    position: absolute;
    top: 0%;
    left: 4%;
    color: black;
    font-family: cursive;
    font-size: 20px;
    line-height: 0;
    padding-top: 7px;
}

#insta {
    position: absolute;
    top: 10%;
    left: 35%;
}

#jj {
    position: absolute;
    top: 10%;
    left: 39%;
    font-size: 15px;
}

.gg {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#teg {
    position: absolute;
    top: 10%;
    left: 55%;
}

#ll {
    position: absolute;
    top: 10%;
    left: 60%;
    font-size: 15px;
}

.hh {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.ff {
    position: absolute;
    top: 8%;
    left: 25%;
}

.ww {
    position: absolute;
    top: 8%;
    left: 75%;
}

#vv {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}